.manage-users-button {
    color: white; /* This sets the text color */
    background-color: #000000; /* This sets the background color */
    border-color: #000000; /* This sets the border color */
}
