.manage-users-button{
  color: white; /* This sets the text color */
  background-color: #6d6d6d; /* This sets the background color */
  border-color: #000000; /* This sets the border color */
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75;
  border-radius: 4px; /* Consistent with other buttons */
  text-transform: uppercase;
  border: 1px solid #bdbdbd; /* Light gray border color */
  padding: 12px; /* Padding for height */
  cursor: pointer;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  width: 15%; /* Full width */
  margin: 8px 0; /* Margin for spacing between buttons */
}




.red-button {
    background-color: red;
    color: white;
  }

.custom-button {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #2196f3; /* Your desired background color */
    color: #ffffff; /* Your desired text color */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
.custom-button:hover {
    background-color: #1976d2; /* Your desired hover background color */
    color: #ffffff; /* Your desired hover text color */
  }

  
.custom-button1 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    border-radius: 8px;
    text-transform: uppercase;
    border: 2px solid #2196f3; /* Your desired border color */
    padding: 12px 24px;
    background-color: transparent;
    color: #2196f3; /* Your desired text color */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  .custom-button1:hover {
    background-color: #2196f3; /* Your desired hover background color */
    color: #ffffff; /* Your desired hover text color */
    border-color: #1976d2; /* Your desired hover border color */
  }
  
  .export-button {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.75;
    border-radius: 8px;
    text-transform: uppercase;
    border: 2px solid #4caf50; /* Your desired border color */
    padding: 12px 24px;
    background-color: transparent;
    color: #4caf50; /* Your desired text color */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  .export-button:hover {
    background-color: #4caf50; /* Your desired hover background color */
    color: #ffffff; /* Your desired hover text color */
    border-color: #388e3c; /* Your desired hover border color */
  }
  
  /* Export Aggregated Data Button Style */
  .export-aggregated-button2 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.75;
    border-radius: 8px;
    text-transform: uppercase;
    border: 2px solid #ff0000; /* Your desired border color */
    padding: 12px 24px;
    background-color: transparent;
    color: #ff0000; /* Your desired text color */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  .export-aggregated-button2:hover {
    background-color: #ff0000; /* Your desired hover background color */
    color: #ffffff; /* Your desired hover text color */
    border-color: #f50000; /* Your desired hover border color */
  }


/* ButtonStyles.css */
.custom-button2 {
  background-color: #3f51b5; /* primary color */
  color: white;
}

.custom-button2:hover {
  background-color: #303f9f; /* darker primary color */
}

.export-button2 {
  background-color: #f50057; /* secondary color */
  color: white;
}

.export-button2:hover {
  background-color: #c51162; /* darker secondary color */
}


.wrapper {
  border: 2px solid #000; /* Change color as needed */
  border-radius: 5px; /* Adjust the border radius */
  display: inline-block; /* Ensures the border wraps tightly around the button */
  padding: 10px; /* Adjust padding as needed */
}


.delete-button {
  color: #f44336; /* Material-UI red */
  border: 1px solid #f44336;
  background-color: #fff;
  padding: 12px; /* Adjusted padding for height */
  width: 100%; /* Full width */
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.delete-button:hover {
  background-color: #f44336;
  color: #fff;
  border-color: #f44336;
}

.delete-button:active {
  background-color: #d32f2f; /* Darker shade of red */
  border-color: #d32f2f;
}


.fetch-button {
  color: #2196f3; /* Material-UI blue */
  border: 1px solid #2196f3;
  background-color: #fff;
  padding: 12px; /* Adjusted padding for height */
  width: 100%; /* Full width */
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.fetch-button:hover {
  background-color: #2196f3;
  color: #fff;
  border-color: #2196f3;
}

.fetch-button:active {
  background-color: #1976d2; /* Darker shade of blue */
  border-color: #1976d2;
}


.export-button, .export-aggregated-button {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75;
  border-radius: 4px; /* Adjusted to match the delete and fetch buttons */
  text-transform: uppercase;
  border: 1px solid; /* Adjusted border width */
  padding: 12px; /* Adjusted padding for height */
  background-color: #fff; /* White background to match */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  width: 48%; /* Adjusted width to fit next to each other */
  margin: 1%; /* Margin to provide spacing between buttons */
}

.export-button {
  border-color: #4caf50; /* Green border color */
  color: #4caf50; /* Green text color */
}

.export-button:hover {
  background-color: #4caf50; /* Green hover background color */
  color: #fff; /* White hover text color */
  border-color: #388e3c; /* Darker green hover border color */
}

.export-button:active {
  background-color: #388e3c; /* Darker shade of green */
  border-color: #2e7d32;
}

.export-aggregated-button {
  border-color: #ff9800; /* Orange border color */
  color: #ff9800; /* Orange text color */
}

.export-aggregated-button:hover {
  background-color: #ff9800; /* Orange hover background color */
  color: #fff; /* White hover text color */
  border-color: #f57c00; /* Darker orange hover border color */
}

.export-aggregated-button:active {
  background-color: #f57c00; /* Darker shade of orange */
  border-color: #ef6c00;
}


.action-button {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75;
  border-radius: 4px; /* Consistent with other buttons */
  text-transform: uppercase;
  border: 1px solid #bdbdbd; /* Light gray border color */
  padding: 12px; /* Padding for height */
  background-color: #bdbdbd; /* Gray background */
  color: #000; /* Black text color */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  width: 100%; /* Full width */
  margin: 8px 0; /* Margin for spacing between buttons */
}

.action-button:hover {
  background-color: #9e9e9e; /* Slightly darker gray on hover */
  border-color: #757575; /* Darker gray border on hover */
}

.action-button:active {
  background-color: #616161; /* Darker gray on active */
  border-color: #424242; /* Darker border on active */
}


.full-width-datetimepicker .MuiFormControl-root {
  width: 100%;
}

.full-width-datetimepicker .MuiInputBase-root {
  width: 100%;
}
